<footer>
    <p>&copy; <span id="year"></span> - Vaš QS Tim</p>
</footer>

<script>
    // Dinamički postavite trenutnu godinu
    document.getElementById('year').textContent = new Date().getFullYear();
</script>

</body>
</html>

