<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekti</title>    
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/hero_background.css">    
</head>
<body>
    <header>
        <% if (user) { 

            realName = getRealUserName(user.toString(),1)
            %>   
            <h1 style="font-size: 30px;"><%= realName %><br> Uživajte u svom vremenu na QS Team Projects sajtu i neka svaki projekat bude uspješan!</h1>
        <% } else { %>
            <h1>Dobrodošli na QS Team Projects Site</h1>
        <% } %>
        <nav>
            <a href="/">Početna</a>
            <a href="/projects">Projekti</a>
            <% if (user) { %>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
            <% } %>
        </nav>
    </header>
